/*  Header Styling Starts  */
.header {
  background-color: orange;
  height: 100px;
}
.cart-div {
  float: right;
  margin: 8px;
  position: relative;
}

.cart-div span {
  position: absolute;
  z-index: 5;
  background-color: black;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  top: -14px;
  right: 0px;
  font-size: 12px;
}

.cart-div img {
  width: 30px;
}

.search-box{
  position: relative;
  top: 25px;
}
.logo {
  float: left;
  margin: 0;
  padding: 20px;
  color: black;
}
/*  Header Styling Ends  */

/* Main Styling Starts */
.product-container {
  display: flex;
  flex-wrap: wrap;
}
/* Main Styling Ends  */

/* Cart Page Styling Starts */
.cart-page-container {
  display: flex;
}
.price-details {
  width: 30%;
  border: 1px solid #ddd;
  margin: auto;
}

.price-details .adjust-price {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.price-details .adjust-discount {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.price-details .adjust-total {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.price-details .adjust-price span {
  font-size: 20px;
}

.price-details .adjust-discount span {
  font-size: 20px;
}

.price-details .adjust-total span {
  font-size: 20px;
}
/* Cart Page Styling Ends   */
