/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #2874f0;
}

/*  Header Styling Starts  */
.header {
  background: var(--main-bg-color);
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  width: 100vw;
  top: 0;
}

.logo {
  display: flex;
}

.logo img {
  display: inline-block;
  width: 110px;
  padding: 0px 10px;
  margin: 0px 15px;
}
.cart-div {
  position: relative;
  right: 40px;
}

.cart-div span {
  font-size: 10px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  text-align: center;
  display: inline-block;
  position: absolute;
  z-index: 1;
  left: 23px;
  bottom: 27px;
}

.cart-div img {
  width: 35px;
  display: inline-block;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-box input {
  width: 400px;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 14px;
  margin: 0px 15px;
}
/*  Header Styling Ends  */

/* Main Styling Starts */
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-container{
 min-height: calc(100vh - 60px - 10vh);
}
/* Main Styling Ends  */

/* Cart Page Styling Starts */
.cart-page-container {
  display: flex;
}
.price-details {
  width: 30%;
  border: 1px solid #ddd;
  margin: auto;
}

.price-details .adjust-price {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.price-details .adjust-discount {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.price-details .adjust-total {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.price-details .adjust-price span {
  font-size: 20px;
}

.price-details .adjust-discount span {
  font-size: 20px;
}

.price-details .adjust-total span {
  font-size: 20px;
}
/* Cart Page Styling Ends   */



/* Footer Styling Starting */
footer{
  height: 10vh;
  background-color: var(--main-bg-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Footer Styling Ending */




